@use "./vairiables";

/* Button */
@mixin button() {
  border-radius: 5px;
  padding: 0.3rem 0.7rem;
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 0.25s all;
  border: 1px solid rgb(201, 201, 201);
}

@mixin button-disable {
  background-color: vairiables.$disabled-background;
  color: vairiables.$disable-text-color;
}

@mixin button-continue {
  background-color: vairiables.$continue-background;
  color: #fff;
}

/* Input */
@mixin controls {
  width: 100%;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 0.25s all;
  border: 1px solid rgb(201, 201, 201);
}

/* Flex-center */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin link($color) {
  color: $color;
  &:hover {
    text-decoration: underline;
  }
}

/* Responsive */
@mixin responsive() {
  @media screen and (min-width: 500px) {
    .login__container {
    }
    .login__right {
      display: none;
    }
    .login__content {
      min-width: 350px;
    }
  }
  @media screen and (min-width: 768px) {
    .login__right {
      display: none;
    }
    .login__content {
      max-width: 400px;
    }
  }
  @media screen and (min-width: 992px) {
    .login__container {
      flex-direction: row;
    }
    .login__right {
      width: 50vw;
      display: block;
    }
    .login__content {
      max-width: 400px;
    }
  }
  @media screen and (min-width: 1024px) {
    .login__container {
      flex-direction: row;
    }
    .login__right {
      width: 60vw;
      display: block;
    }
    .login__content {
      max-width: 450px;
    }
  }
  @media screen and (min-width: 1200px) {
    .login__container {
      flex-direction: row;
    }
    .login__right {
      width: 60vw;
      display: block;
    }
    .login__content {
      max-width: 500px;
    }
  }
}
