@use "../../assets/style/mixin/mixin.scss";

.button {
  @include mixin.button-base;
  @include mixin.flex-center;
  min-width: 200px;
}

.button-disable {
  @include mixin.button-disable;
  color: inherit;
}

.button-continue {
  @include mixin.button-continue;
  * {
    color: inherit;
  }
}
