@use "../../../../assets/style/mixin/mixin.scss";
.heading {
  @include mixin.heading;
}

.message {
  font-size: 1rem;
  color: initial;
}

.group__tag {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
