@use "../../assets/style/mixin/mixin.scss";
@use "../../assets/style/vairiables/vairiables.scss";

.checkbox {
  color: gray;
  font-size: 0.8em;
  font-weight: 300;
  width: max-content;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: 1px solid #cbcbcb;
  border-radius: 50rem;
  @include mixin.flex-center;
  gap: 5px;
  .radio {
    display: none;
  }

  .dot {
    position: relative;
    width: 15px;
    height: 15px;
    margin: auto;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      box-shadow: 0 0 0 1px rgb(189, 189, 189);
      transition: all 0.25s linear;
      background-color: transparent;
    }
    &::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;
      background-color: transparent;
      border: 2px solid transparent;
      transform: rotate(-45deg) translate(-50%, -50%);
      transition: all ease-in-out;
    }
  }
  .radio:checked ~ .dot::after {
    box-shadow: 0 0 0 1px vairiables.$text-color-2;
    background-color: vairiables.$text-color-2;
  }
  .radio:checked ~ .dot::before {
    width: 15px;
    height: 7px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
}
